//-
  @Author: Parsa Rahimi <par5ul1>
  @Date:   2022-06-30T13:46:12-07:00
  @Filename: projects.pug
  @Last modified by:   par5ul1
  @Last modified time: 2022-06-30T22:59:17-07:00

mixin education(edu)

  div.evenly_spaced
    div
      h3 #{edu.school}
      p #{edu.degree}
    div
      h4
        em #{edu.startDate} - #{edu.endDate}
  ul
    each bullet in edu.bullets.length ? edu.bullets : ''
      li !{bullet}
  div
    h3 Relevant Coursework
    p
      each course, i in edu.relevantCoursework.length ? edu.relevantCoursework : ''
        span #{course}
        if i < edu.relevantCoursework.length - 1
          +textSeparator

if education
  section#education
    h2 Education
    +line

    each edu in education
      +education(edu)
